$mobile-width: 480px;
$tablet-width: 992px;

@mixin column($span) {
  flex: 0 0 (100% / $span);
  max-width: (100% / $span);
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    border: 1px solid blue;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (max-width: $mobile-width){
      width: 100%;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
}

.col-1 {
    @include column(12);
    background-color: aqua;
}

.col-2 {
    @include column(6);
    background-color: green;
}

.col-3 {
    @include column(4);
    background-color: red;
}

.col-4 {
  @include column(3);
}

.col-5 {
  @include column(12 / 5);
}

.col-6 {
  @include column(2);
}

.col-7 {
  @include column(12 / 7);
}

.col-8 {
  @include column(12 / 8);
}

.col-9 {
  @include column(12 / 9);
}

.col-10 {
  @include column(12 / 10);
}

.col-11 {
  @include column(12 / 11);
}

.col-12 {
  @include column(1);
}

.wrap {
  word-wrap: break-word;
}
