/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 480px) {
  /* line 4, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
  .container {
    width: 100%;
  }
}

/* line 15, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 21, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

/* line 28, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
[class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-7 {
  flex: 0 0 58.33319%;
  max-width: 58.33319%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-9 {
  flex: 0 0 75.00019%;
  max-width: 75.00019%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-11 {
  flex: 0 0 91.66659%;
  max-width: 91.66659%;
}

/* line 36, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 480px) {
  /* line 43, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
  .expand-col-s {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  /* line 50, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_grid.scss */
  .expand-col-m {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* line 5, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
html,
body,
p,
a,
li {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 13, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

/* line 17, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
a {
  text-decoration: none;
}

/* line 21, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 25, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  line-height: 1.5;
}

/* line 35, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
h1 {
  font-size: 24px;
}

/* line 39, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
h2 {
  font-size: 20px;
}

/* line 43, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
h3 {
  font-size: 18px;
}

/* line 47, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
h4 {
  font-size: 16px;
}

/* line 51, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
h5 {
  font-size: 14px;
}

/* line 55, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
h6 {
  font-size: 12px;
}

/* line 59, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
.bold {
  font-weight: 700;
}

/* line 63, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/_typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 7, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/styles.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 11, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/styles.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/styles.scss */
.d-none {
  display: none;
}

/* line 21, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/styles.scss */
.d-flex {
  display: flex;
}

/* line 25, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/styles.scss */
.d-block {
  display: block;
}

/* line 29, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/styles.scss */
.d-inline-block {
  display: inline-block;
}

/* line 33, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/styles.scss */
.d-grid {
  display: grid;
}

/* line 37, /home/giulianaferraro/Microverse/Main Curriculum/grid-based-framework/framework-css/sass/styles.scss */
.d-table {
  display: table;
}

/*# sourceMappingURL=../styles.map */